#login-form {
    z-index: 2;
    position: relative;
    top: 42%;
}

#login-form__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 350%;
}

#login-form__content div {
    color: whitesmoke;
    padding-bottom: 20px;
    text-align: center;
}

#login-form__content input {
    font-size: 90%;
    position: relative;
    left: -3px;
    border: none;
    width: 100%;
    border-bottom: 2px solid whitesmoke;
    background-color: transparent;
    text-align: center;
}

#login-form__content input::placeholder {
    color: whitesmoke;
}

#login-form__content input:focus {
    outline: none;
    color: whitesmoke;
}

#login-form__content button {
    color: whitesmoke;
    background-color: transparent;
    border: 1.2px solid whitesmoke;
    border-radius: 5px;
}

#login-form__content button:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.35);
    background-color: whitesmoke;
    border: 1.2px solid;
}